* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html {
    font-size: 62.5%
}

#header_rick {
    border-bottom: 0.1rem solid ;
    box-shadow: 0 0.4px 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

#logo_rick_ads {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

#container_search {
    display: flex;
    margin: 1.5rem;
    
    margin: 2rem;
}

#search {
    padding: 1rem;
}

#button {
    padding: 1rem;
}