* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
 
html {
    font-size: 62.5%
}

#header_rick {
    border-bottom: 0.1rem solid ;
    box-shadow: 0 0.4px 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

#logo_rick_ads {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

#back {
    padding: 0.1rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}

.img {
    border-radius: 1000px;
}