* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
 
html {
    font-size: 62.5%
}

#header_rick {
    border-bottom: 0.1rem solid ;
    box-shadow: 0 0.4px 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

#logo_rick_ads {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

#container_search {
    display: flex;
    margin: 1.5rem;
    
    margin: 2rem;
}

#search {
    padding: 1rem;
}

#button {
    padding: 1rem;
}

#all_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 5%;
    margin-bottom: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px ;
    cursor: pointer;
    
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}   

#function_buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
}

#next_page {
    padding: 1rem;
}
#last_page {
    padding: 1rem;
}
